h1 {
    margin-bottom: 20px;
}

nav {
    margin-bottom: 10px;
}

.linkDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }

.pointer {
    cursor: pointer;
}