.segment {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.segmentText {
    margin: 5px 0px;
}

.controlBar {
    width: 100%;
    background-color: lightgray;
    padding: 5px;
}

.word, .pause {
    padding: 2px;
    /* margin: 5px; */
    border-radius: 5px;
    text-align: center;
}

.word {
    border: 1px solid transparent;
    cursor: pointer;
}
.word:hover {
    text-decoration: underline;
}

.stress {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.correct {
    background-color: rgba(0, 155, 0, 0.623);
    border-color: green;
}
.error {
    background-color: rgba(255, 0, 0, 0.616);
    border-color: red;
}
.active {
    text-decoration: underline;
}
.syll {
    border: solid 1px gray;
    border-radius: 50%;
}

.pause {
    border: 2px solid blue;
    background-color: lightblue;
}

.clauseBoundary {
    border-color: green;
    background-color: rgb(95, 253, 95);
}

.conjBoundary {
    border-color: blue;
    background-color: rgb(253, 95, 227);
}

.wordBoundary {
    border-color: red;
    background-color: rgb(255, 85, 85);
}

.largePause {
    width: 100px;
    border-color: gray;
    background-color: rgb(148, 148, 148);
}