{% extends "base.html" %}


{% block styles %}
{% endblock %}

{% block content %}

<div class="container-lg">
    <div>
        <p>You need appropriate access credentials to view this page.</p>
    </div>
    <a href='/logout/'><button type="button" class="btn btn-info">Log out</button></a> 
</div>

{% endblock %}