{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'stressViz.ico' %}"/>
    <title>PLSPP visualisations</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
    
    {% block styles %}
    {% endblock %}
    
    <script src="{% static 'js/plotly-2.16.1.min.js'%}"></script>

</head>
  <body>

    <nav class="navbar navbar-expand-md navbar-light" style="flex-wrap: nowrap;">
        <div class="container-fluid">
            <a class="navbar-brand mr-4" href="/"><img height="60px" src="{% static 'stressViz.ico' %}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <!-- TITRE -->
                        <div id="barreTitre" class="navbar-nav fw-bold fs-2 me-4">
                            PLSPP Visualisations
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dataset</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">upload</a>
                            <a class="dropdown-item" href="/CLES">CLES (Grenoble Alpes Univ.)
                              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                              </svg>
                            </a>
                            <a class="dropdown-item" href="/sugahara">Sugahara Corpus (Doshisha Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/mallory">Mallory (Grenoble Alpes Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/ICNALE">ICNALE Corpus (Kobe Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/nakanishi">Nakanishi Corpus (Kobe Gakuin Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/CLESJP">CLES-JP (Waseda/Doshisha Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/erickson">Erickson Corpus (Yale Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/wu1">Wu 1 Corpus (Groningen Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/wu2">Wu 2 Corpus (Groningen Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/wu3">Wu 3 Corpus (Groningen Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                            <a class="dropdown-item" href="/marekova">Mareková-Beňuš Corpus (Bratislava Univ.)
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                  </svg>
                            </a>
                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/{{ dataset }}">Stress (global)</a>
                            {% if dataset != "local" %}
                                <a class="dropdown-item" href="/segments/{{ dataset }}">Stress patterns</a>
                                <a class="dropdown-item" href="/pausesviz/{{ dataset }}">Pause patterns</a>
                            {% else %}
                            <a class="dropdown-item linkDisabled" href="/segments/{{ dataset }}">Stress patterns</a>
                            <a class="dropdown-item linkDisabled" href="/pausesviz/{{ dataset }}">Pause patterns</a>
                            {% endif %}
                        </div>
                    </li> -->

                    <li>
                        <a class="nav-link" href="/{{ dataset }}">Stress (global view)</a>
                    </li>
                    {% if dataset != "local" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/segments/{{ dataset }}">Stress patterns</a>
                        </li>
                        {% if pauses %}
                        <li>
                            <a class="nav-link" href="/pausesviz/{{ dataset }}">Pause patterns</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link" style="pointer-events: none;color: #ccc;" href="/pausesviz/{{ dataset }}">Pause patterns</a>
                        </li>
                        {% endif %}

                    {% else %}
                        <li>
                            <a class="nav-link" style="pointer-events: none;color: #ccc;" href="/segments/{{ dataset }}">Stress patterns</a>
                        </li>
                        <li>
                            <a class="nav-link" style="pointer-events: none;color: #ccc;" href="/pausesviz/{{ dataset }}">Pause patterns</a>
                        </li>
                    {% endif %}
                    
                    <li class="nav-item ms-auto">
                        <a class="nav-link" href="https://gricad-gitlab.univ-grenoble-alpes.fr/lidilem/plspp">About</a>
                    </li>
                    
                </ul>
                <!-- CONNEXION -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <div class="btn-group dropdown m-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                        </button>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </ul>
                    </div>
                    {% else %}
                    <a class="nav-item m-1" href="{% url 'login' %}?next={{request.path}}"><button class="btn btn-secondary">Log in</button></a>
                    {% endif %}
                    
                </div>
            </div>
          </div>
        </div>
    </nav>


    <div class="container-lg">
        {% if dataset == "local" %}
            <h3>Select a dataset above or load your own files below</h3>
        {% elif dataset != "none" %}
            <h2>{{ dataset }} corpus</h2>
        {% endif %}

    </div>
    
    {% block content %}{% endblock %}        

    

    <footer class="footer-copyright text-center py-3">
        <div>S.Coulange 2023. <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lidilem/plsppviz">Source code</a> - <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lidilem/plsppviz/-/commits/master">View last updates</a></div>
        <div><a href="https://gricad-gitlab.univ-grenoble-alpes.fr/lidilem/plspp">More infos about PLSPP</a></div>
        <!-- <div class="licence-div">
            <div><span id="sp_footlicence" class="langspan"></span></div>
            <div><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International"><img height="30px" src="{% static 'im/cc-by-nc-sa.png' %}" title="Attribution-NonCommercial-ShareAlike 4.0 International" class="licence-element licence-img"/></a></div>
            <div><span id="sp_footcopyr" class="langspan"></span> ©<a href="mailto:do.alexandre38@gmail.com">Alexandre Do</a> ©<a href="https://www.pronunciationscience.com/">PronSci</a></div>
        </div>
        <div><span id="sp_header" class="langspan"></span></div> -->
    </footer> 


    <!-- Bootstrap -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    <!-- ChartJS + PLUGIN labels https://github.com/emn178/chartjs-plugin-labels -->
    <script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chartjs-plugin-labels.min.js' %}"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

    <!-- Perso -->
    {% block javascript %}
    {% endblock %}
  </body>
</html>
