{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stress_viz.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pause_viz.css'%}">
{% endblock %}

{% block content %}
    <script type="text/javascript">
        // var rawCSVlocuteurs = "{{ rawCSVlocuteurs|escapejs }}";
        var audioFolder = "{{ audioFolder|escapejs }}";
        var dataset = "{{ dataset|escapejs }}";
        var audioExt = "{{ audioExt|escapejs }}";
    </script>

    <div class="container-lg">

        <div class="row">
            <div class="settings col-4">

                <div class="accordion" id="accordionPanelsStayOpenExample">
                    
                    <!-- <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              Visualisations
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                              
                                <button class="btn btn-outline-secondary" type="button" onclick="goToView('global')">View global stress visualisations</button>
                                <button class="btn btn-outline-secondary" type="button" onclick="goToView('pauses')">View pauses visualisation per file</button>

                            </div>
                          </div>
                    </div> -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                              Speaker settings
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                              
                                <div class="speakers">  
                                    <div class="mb-3">
                                        <label for="speakers" class="form-label">Select a speaker</label>
                                        <select class="form-select" id="speakers" aria-label="Select speaker(s)" onchange="getSpeakerSegments(this.value)">
                                            <option value="none" selected>Select</option>
                                            <!-- <option value="1">One</option> -->
                                        </select>
                                    </div>
                                </div>

                                <div id="topSegsBtn">
                                    <!-- Btn generated here -->
                                </div>
    
                            </div>
                          </div>
                    </div>
                    
                  </div>

    
            </div>
    
            <div class="output col-8">
    
                <!-- <div class="NbSyll chart">
                    <div>Nb pauses / nb tokens: <span id="stats_pauses_tokens"></span></div>
                    <div>Nb inter-clause pauses / nb pauses: <span id="stats_pClause_p"></span></div>
                    <div>Nb intra-phrase pauses / nb pauses: <span id="stats_pWord_p"></span></div>
                    <div>Nb inter-clause pauses / nb tokens: <span id="stats_pClause_tokens"></span></div>
                    <div>Nb intra-phrase pauses / nb tokens: <span id="stats_pWord_tokens"></span></div>
                </div> -->

                <div>
                    <div id="textViz">

                    </div>

                </div>

            </div>
        </div>
        
    </div>

    <audio id="audioPlayer" controls src="" ontimeupdate="showPlayedWord()" onended="stopPlaying()" style="display: none;"></audio>    
{% endblock %}

    

{% block javascript %}
    <script src="{% static 'js/segments.js' %}"></script>
{% endblock %}
