{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/stress_viz.css'%}">
{% endblock %}

{% block content %}

    <div class="container-lg">
        <div class="row">
            <div class="settings col-4">

                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingZero">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseZero" aria-expanded="true" aria-controls="panelsStayOpen-collapseZero">
                            File inputs
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseZero" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingZero">
                          <div class="accordion-body">
                            
                              <div class="speakers">
                                  <div class="mb-3">
                                      <div class="inputFile">
                                          <label for="uploadfileLocuteurs" class="form-label">Speakers file (speakers.csv)</label>
                                          <input type="file" id="uploadfileLocuteurs" onChange="readCSVLocuteurs(this)">
                                      </div>
                                      <div class="inputFile mt-2">
                                          <label for="uploadfile" class="form-label">Stress file (stressTable.csv)</label>
                                          <input type="file" id="uploadfile" onChange="readCSV(this)">
                                      </div>
                                      <div class="inputFile mt-2">
                                        <label for="audioFolder" class="form-label">Path to audio folder</label>
                                        <input type="folder" id="audioFolder" value="../audio/">
                                    </div>
                                  </div>
                              </div>
  
                          </div>
                        </div>
                      </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Speaker settings
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                          
                            <div class="speakers">
                                <div class="d-flex">
                                    <div class="d-flex flex-column pos m-1 mb-3">
                                        <label for="cleslist" class="form-label">Select CLES Global level</label>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="toggleAllCheckboxes('cles')">Toggle all</button>
                                        <div id="cleslist" class="cblist"></div>
                                        <div class="d-flex">
                                            <button type="button" class="btn-sm btn-light" onclick="selectOnly('cleslist','CLES B1')">B1 only</button>
                                            <button type="button" class="btn-sm btn-light" onclick="selectOnly('cleslist','CLES B2')">B2 only</button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column pos m-1 mb-3">
                                        <label for="clesIolist" class="form-label">Select CLES IO level</label>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="toggleAllCheckboxes('clesIo')">Toggle all</button>
                                        <div id="clesIolist" class="cblist"></div>
                                        <div class="d-flex">
                                            <button type="button" class="btn-sm btn-light" onclick="selectOnly('clesIolist','clesIoB1')">B1 only</button>
                                            <button type="button" class="btn-sm btn-light" onclick="selectOnly('clesIolist','clesIoB2')">B2 only</button>
                                        </div>
                                    </div>
                                </div>
                                
            
                                <div class="d-flex">
                                    <div class="d-flex flex-column shapes m-1 mb-3">
                                        <label for="motherlist" class="form-label">Select mother tongue (from SELF)</label>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="toggleAllCheckboxes('mother')">Toggle all</button>
                                        <div id="motherlist" class="cblist"></div>
                                    </div>

                                    <div class="d-flex flex-column shapes m-1 mb-3">
                                        <label for="genderlist" class="form-label">Select gender</label>
                                        <div id="genderlist" class="cblist"></div>
                                    </div>
                                </div>
                            
            
                                
                                <div class="mb-3">
                                    <label for="speakers" class="form-label">Select speaker(s)</label>
                                    <select class="form-select" id="speakers" aria-label="Select speaker(s)" onchange="updateSpeaker()">
                                        <option value="all" selected>All</option>
                                        <!-- <option value="1">One</option> -->
                                    </select>
                                </div>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                          Word settings
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                          
                            <div>
                                <label for="filterByWord">Filter by word</label>
                                <div class="d-flex">
                                    <input type="text" id="filterByWord" value=".*">
                                    <button onclick="updateWord()" class="btn btn-success">OK</button>
                                </div>
                            </div>

                            <div class="d-flex">
                                <input type="checkbox" id="filterMFA" onchange="updateWord()" class="me-2" checked>
                                <label for="filterMFA" style="font-size: small;">Keep only words with correct syllable-nuclei count</label>
                            </div>

                            <div class="d-flex">
                                <div class="d-flex flex-column pos m-1 mb-3">
                                    <label for="poslist" class="form-label">Select POS(s)</label>
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="toggleAllCheckboxes('pos')">Toggle all</button>
                                    <div id="poslist" class="cblist">
                                        <!-- <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                        </div> -->
                                    </div>
                                    
                                </div>
                
                                <div class="d-flex flex-column shapes m-1 mb-3">
                                    <label for="shapelist" class="form-label">Select expected</label>
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="toggleAllCheckboxes('shape')">Toggle all</button>
                                    <div id="shapelist" class="cblist">
                                        <!-- <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Default checkbox
                                            </label>
                                        </div> -->
                                    </div>
                                    
                                </div>

                                
                            </div>


                        </div>
                      </div>
                    </div>
                  </div>

    
            </div>
    
            <div class="output col-8">
    
                <div class="NbSyll chart">
                    <div style="max-width:500px">
                        <label for="chartNbSyll" class="chartTitle">Target words per number of syllables</label>
                        <canvas id="chartNbSyll"></canvas>
                    </div>
    
                    <p><span class="nbWpluriBonNbSyll"></span> plurisyllabic target words.</p>
                </div>

                <div class="position chart" style="position:relative">
                    <label for="expectedShapeScore" class="chartTitle">Prosodic shapes of words</label>
                    <div id="expectedShapeScore" class="d-flex align-items-center gap-4">
                        <p>Rate of words correctly shaped: <span id="percentExpectedIsObserved">-</span>% (<span id="nbExpectedIsObserved">-</span>/<span class="nbWpluriBonNbSyll">-</span>)</p>
                        <div style="width:120px;padding:0px 10px">
                            <canvas id="chartObsOK"></canvas>
                        </div>
                    </div>


                    <label for="chartPosition" class="chartTitle">Observed shape for each expected shape</label>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="toggleExpand()" style="position:absolute; right:3px">Toggle %</button>
                    <div id="chartPosition" class="d-flex">
                        <div class="expOo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsOo"></canvas>
                            </div>
                            <div class="obsTitle">Oo</div>
                            <div class="obs expOo obsOo ok"></div>
                            <div class="obs expOo obsoO"></div>
                            <div class="obs expOo obsoo"></div>
                            <div class="obs expOo obsOO"></div>
                        </div>
                        <div class="expoO m-3">
                            <div style="width:70px">
                                <canvas id="chartObsoO"></canvas>
                            </div>
                            <div class="obsTitle">oO</div>
                            <div class="obs expoO obsoO ok"></div>
                            <div class="obs expoO obsOo"></div>
                            <div class="obs expoO obsoo"></div>
                            <div class="obs expoO obsOO"></div>
                        </div>
                        <div class="expOoo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsOoo"></canvas>
                            </div>
                            <div class="obsTitle">Ooo</div>
                            <div class="obs expOoo obsOoo ok"></div>
                            <div class="obs expOoo obsoOo"></div>
                            <div class="obs expOoo obsooO"></div>
                            <div class="obs expOoo obsOOo"></div>
                            <div class="obs expOoo obsoOO"></div>
                            <div class="obs expOoo obsOoO"></div>
                            <div class="obs expOoo obsOOO"></div>
                            <div class="obs expOoo obsooo"></div>
                        </div>
                        <div class="expoOo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsoOo"></canvas>
                            </div>
                            <div class="obsTitle">oOo</div>
                            <div class="obs expoOo obsoOo ok"></div>
                            <div class="obs expoOo obsOoo"></div>
                            <div class="obs expoOo obsooO"></div>
                            <div class="obs expoOo obsOOo"></div>
                            <div class="obs expoOo obsoOO"></div>
                            <div class="obs expoOo obsOoO"></div>
                            <div class="obs expoOo obsOOO"></div>
                            <div class="obs expoOo obsooo"></div>
                        </div>
                        <div class="expooO m-3">
                            <div style="width:70px">
                                <canvas id="chartObsooO"></canvas>
                            </div>
                            <div class="obsTitle">ooO</div>
                            <div class="obs expooO obsooO ok"></div>
                            <div class="obs expooO obsOoo"></div>
                            <div class="obs expooO obsoOo"></div>
                            <div class="obs expooO obsOOo"></div>
                            <div class="obs expooO obsoOO"></div>
                            <div class="obs expooO obsOoO"></div>
                            <div class="obs expooO obsOOO"></div>
                            <div class="obs expooO obsooo"></div>
                        </div>

                        <div class="expOooo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsOooo"></canvas>
                            </div>
                            <div class="obsTitle">Oooo</div>
                            <div class="obs expOooo obsOooo ok"></div>
                            <div class="obs expOooo obsoOoo"></div>
                            <div class="obs expOooo obsooOo"></div>
                            <div class="obs expOooo obsoooO"></div>
                            <div class="obs expOooo obsoooo"></div>
                        </div>
                        <div class="expoOoo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsoOoo"></canvas>
                            </div>
                            <div class="obsTitle">oOoo</div>
                            <div class="obs expoOoo obsoOoo ok"></div>
                            <div class="obs expoOoo obsOooo"></div>
                            <div class="obs expoOoo obsooOo"></div>
                            <div class="obs expoOoo obsoooO"></div>
                            <div class="obs expoOoo obsoooo"></div>
                        </div>
                        <div class="expooOo m-3">
                            <div style="width:70px">
                                <canvas id="chartObsooOo"></canvas>
                            </div>
                            <div class="obsTitle">ooOo</div>
                            <div class="obs expooOo obsooOo ok"></div>
                            <div class="obs expooOo obsOooo"></div>
                            <div class="obs expooOo obsoOoo"></div>
                            <div class="obs expooOo obsoooO"></div>
                            <div class="obs expooOo obsoooo"></div>
                        </div>
                        <div class="expoooO m-3">
                            <div style="width:70px">
                                <canvas id="chartObsoooO"></canvas>
                            </div>
                            <div class="obsTitle">oooO</div>
                            <div class="obs expoooO obsoooO ok"></div>
                            <div class="obs expoooO obsOooo"></div>
                            <div class="obs expoooO obsoOoo"></div>
                            <div class="obs expoooO obsooOo"></div>
                            <div class="obs expoooO obsoooo"></div>
                        </div>
                    </div>
                </div>

                <div class="position chart">
                    <div style="min-height:400px;">
                        <label for="stressDetail" class="chartTitle">Stress detail on <select id="shapeDetailSelect" onchange="getStressDetails(document.getElementById('stressDetailSelect').value)"><option value="expectedShape" selected>expected</option><option value="observedShape">observed</option></select> shape</label>
                        <select class="form-select" id="stressDetailSelect" aria-label="Select speaker(s)" onchange="getStressDetails(this.value)" style="display:inline; width:100px">
                            <option value="all" selected>all</option>
                            <option value="Oo">Oo</option>
                            <option value="oO">oO</option>
                            <option value="Ooo">Ooo</option>
                            <option value="oOo">oOo</option>
                            <option value="ooO">ooO</option>
                            <option value="Oooo">Oooo</option>
                            <option value="oOoo">oOoo</option>
                            <option value="ooOo">ooOo</option>
                            <option value="oooO">oooO</option>
                            <option value="Ooooo">Ooooo</option>
                            <option value="oOooo">oOooo</option>
                            <option value="ooOoo">ooOoo</option>
                            <option value="oooOo">oooOo</option>
                            <option value="ooooO">ooooO</option>
                        </select>
                        <div style="display:inline">(Nb of words: <span id="stressDetailNbSyll"></span>)</div>
                        
                        <div id="stressDetail" class="d-flex justify-content-between">
                            <div id="stressOo" class="m-2">
                                <label for="globalDeciles" class="chartTitle mt-3">Multidimensional (O/o)</label>
                                <div id="globalDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll2globalDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll1globalDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="F0Deciles" class="chartTitle mt-3">Mean F0 (O/o)</label>
                                <div id="F0Deciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll2F0DecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll1F0DecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="dBDeciles" class="chartTitle mt-3">Mean intensity (O/o)</label>
                                <div id="dBDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll2dBDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll1dBDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="durDeciles" class="chartTitle mt-3">Mean Duration (O/o)</label>
                                <div id="durDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll2durDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll1durDecilesOo" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                            </div>
                            <div class="m-2">
                                <label for="globalDeciles" class="chartTitle mt-3">Multidimensional (for each syllable)</label>
                                <div id="globalDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll1globalDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll2globalDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll3globalDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll4globalDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll5globalDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 2px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="F0Deciles" class="chartTitle mt-3">Mean F0 (for each syllable)</label>
                                <div id="F0Deciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll1F0Deciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll2F0Deciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll3F0Deciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll4F0Deciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll5F0Deciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="dBDeciles" class="chartTitle mt-3">Mean intensity (for each syllable)</label>
                                <div id="dBDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll1dBDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll2dBDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll3dBDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll4dBDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll5dBDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                                <label for="durDeciles" class="chartTitle mt-3">Mean duration (for each syllable)</label>
                                <div id="durDeciles" class="d-flex align-items-center" style="gap:1rem">
                                    <div id="syll1durDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll2durDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll3durDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll4durDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                    <div id="syll5durDeciles" class="d-flex justify-content-center align-items-center" style="border:solid 1px black; border-radius: 50%;width:0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        
    </div>

    <div id="plotRateGlob" style="margin:auto"></div>
    <div id="plot3d" style="margin:auto"></div>

    <p>This table displays up to <span id="limitTable"></span> words.</p>
    <audio id="audioPlayer" controls src=""></audio>
    <div id="stressDetailTableDiv">
        <table id="stressDetailTable" class="hover" data-order='[[ 1, "asc" ]]' data-page-length='25'>
                <thead>
                    <tr>
                        <th>Speaker</th>
                        <th>Word</th>
                        <th>POS</th>
                        <th>Expected</th>
                        <th>Observed</th>
                        <th>Pitch</th>
                        <th>Energy</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody id="stressDetailTableBody">

                </tbody>
            </table>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/stress_vizLocalFile.js' %}"></script>
{% endblock %}